
*{box-sizing: border-box}

a,
a:focus,
a:active,
a:hover,
a:visited{text-decoration: none;outline: none}

ul{list-style: none;padding: 0; margin: 0;}


html{
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}


body{
    font-family: arial, sans-serif;
    line-height: 1.6;
    background-color: #2c3e50;
    height: 100%;
    overflow-x: hidden;
}

.wraper{
    padding: 0 15px;
    margin: 0 auto;
}

main{
    position: relative;
}

.menu-btn{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 44px;
    height: 38px;
    padding: 8px;
    background-color: rgba(0,0,0,.1);
    border: 1px solid #2c3e50;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
}

.menu-btn span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

@media(min-width: 992px){
    .menu-btn{display: none}
   
}

.show{transform: translateX(230px)}

@media(min-width: 992px){
    .show{transform: unset}
}

aside{
    position: fixed;
    top: 70px;
    left: -210px;
    background-color: #2c3e50;
    box-shadow: 0 0 25px 1px #1b2838;
    display: flex;
    flex-flow: column;
    width: 200px;
    height: 95%;
    transition: all .5s ease-in-out
}

@media (min-width: 992px){
    aside{
        left: 0;
        top: 20px
    }
}

aside .my-img{padding: 10px }

aside .my-img > div{
    padding: 5px;
    border: 5px solid rgba(120,129,149,.2);
    border-radius: 4px;
    overflow: hidden;
    height: 320px;
}
aside img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

aside ul li a{
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #869cb1;
    border-top: 1px solid #3a4a5d;
    border-bottom: 1px solid #22303e;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .7px;
    font-size: 13px;
    cursor: pointer;
}

.img-overlay {
    position: absolute;
    top: 5px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(256, 256, 256, 0.6);
    transition: 0.5 all ease-in-out;
    z-index: 1;
    opacity: 0;
}
.img-overlay ul{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 80% 10%;
}

.img-overlay a{
    border: none;
    cursor: pointer;
}
.img-overlay i{
    color: steelblue;
    font-size: 16px;
    background-color: #ccc;
    
}
.my-img:hover .img-overlay{
    opacity: 1;
}
.my-img:hover .img-overlay i{
    background-color: steelblue;
    color: #ccc;
    transition: 1s all ease-in-out;
}           

/********** Loader Style *******/

.loadoverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(0 , 0 , 0 , 1);
    opacity: 1;
    z-index:100;
    
}
.loader {
   
    background-image: url(../img/animated.gif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s all ease-in-out;
    /* animation: transY 2s linear infinite; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  @keyframes transY{
      0%{
          transform: translateY(30px);
      }
      100%{
          transform: translateY(-30px);
      }
      
  }
  @keyframes transX{
      0%{
          transform: translateX(-50px);
      }
      
      
  }
  @keyframes spin {
    0% {
         transform: rotate(0deg);
      }
    100% { 
        transform: rotate(360deg); 
    }
  }

/* aside ul li:hover a{color: rgb(223, 159, 159)} */

li.active{background-color: rgba(256, 256, 256, 0.6);transition: 0.5s all ease-in-out;margin: 25px 0;}
aside ul li.active a{
    color: #fff;
    border-color: transparent
}
aside ul li.active a i{background-color: steelblue}

aside li a i{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
    transition: all .5s ease-in-out;
    box-shadow: inset 0 0 5px 0 #1b2838
}

/* .personal ul li span:last-of-type:hover {
    background-color: #337ab7;
    padding: 0 5px;
    font-size: 15px;
    font-weight:bold;
    transition:0.5s all ease-in-out;
    width: 38% !important;
} */
/* @media(max-width:320px){
    .personal ul li span:last-of-type{
        width: 102% !important;
        font-size: 10px;
    }
    .personal ul li span:last-of-type:hover{
        width: 100% !important;
    }
} */







.content{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    top: 10px;
    transition: all .5s ease-in-out;
}

@media(min-width: 992px){
    .content{
        width: calc(100% - 200px);
        left: unset;
        transform: translateX(200px)
    }
}
#profile{
    background-image: url(../img/source.gif);
    background-size: cover;
}

.content > div{
    color: aliceblue;
    border: 5px solid #3a4a5d;
    border-radius: 4px;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 25px 1px #1b2838;
    background: url(../images/profile-photo.jpg) 40% center;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
  
}

.content > div .overlay{
    padding: 20px 15px;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(44, 62, 80, .9)
}










.intro{padding: 40px 0 20px;}

.intro h1{
    font-weight: 900;
    line-height: 40px;
    margin: 0 0 4px;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center
}

.intro h3{
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-size: .8rem
}

.intro .intro-links{
    text-align: center
}

.intro .intro-links > div{
    display: inline-block;
    position: relative;
}

.intro .intro-links > div a{
    display: block;
    padding: 5px;
    color: aliceblue;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    position: relative;
}

.intro .intro-links > div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: steelblue;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    transform: scale(0,0)
}

.intro .intro-links > div:hover::before{
    transform: scale(1,1)
}

@media(min-width: 768px){
    .profile .about{
        width: 50%;
        display: inline-block;
        vertical-align: top;
        line-height: 2;
        margin-right: 40px
    }
}

@media(min-width: 425px){
    .profile .personal{
        
        display: inline-block;
        border-radius: 5px;
        padding: 0 10px;
        margin-left: auto;
        background-color: rgba(193, 212, 230, .2)
    }
    
}

/* .personal ul li span:last-of-type{
    width:80% !important;
} */
 #email{
       width:160% !important ;
       font-size:0.7rem !important ;
   }

.profile .about p{
    margin: 20px 0;
    color: #c1d4e6;
}

.profile .about strong{color: aliceblue;text-transform: uppercase}

.profile .personal{
    /* width: 370px; */
    box-shadow: 5px 5px 20px black;
}

/* .profile ul{margin: 20px 0 0;padding: 20px;} */

.profile li{
    display: flex;
    max-width: 100%;
    font-size: .8rem;
    text-transform: capitalize;
    margin-bottom: 15px
}

.profile li span:first-of-type{
    display:inline-block;
    margin: 0 2rem  ;
    font-weight: 700;
    width: 30%;
}

/****** animation for skills icons *****/

.skills-img img{
    height: 40px;
    width: 40px;
    margin: 0 10px ;
    border-radius: 50%;
    z-index: 0;
   }
#ang , #boot,#js,#jq,#html,#css,#laravel,#sass,#php,#mvc {
 position: absolute;
 animation: loop-ang 50s  linear infinite;
 transition: 1s all ease-in-out;
 
}
.personal-info , .pag-content {
    z-index: 100 ;
}
#boot{
    animation: loop-boot 50s  1s infinite ; 
    
}
#js{
    animation: loop-ang 55s 2s infinite;
}
#jq{
    animation: loop-boot 55s 2s infinite;
}
#html{
    animation: spin-icon 60s 1s infinite;
}
#css{
    animation: spin-icon 60s 3s infinite;
}
#sass{
    animation: loop-php 60s 2s infinite;
}
#php{
    animation: loop-php 60s 1s infinite;
}
#mvc{
    animation: loop-php 60s 3s infinite;
}
#laravel{
    animation: loop-ang 60s 3s infinite;
}


@keyframes loop-ang {
    0%{
        left: 1%;
        top:1%;
        transform: rotate(360deg);
    }
    
    25%{
        left: 100%;
        top:90%;
        transform: rotate(1600deg);
    }
    50%{
        left: 1%;
        top: 90%;
        transform: rotate(2600deg);
    }
   75%{
    left: 90%;
    top:1%;
    transform: rotate(3600deg);
   }
   100%{
    left: 1%;
    top:1%;
    transform: rotate(360deg);
   }
    
    
}
@keyframes loop-boot {
    0%{
        left: 90%;
        top:1%;
        transform: rotate(360deg);
    }    
    25%{
        left: 1%;
        top:90%;
        transform: rotate(1600deg);
    }
    50%{
        left: 1%;
        top: 1%;
        transform: rotate(2600deg);
    }
   75%{
    left: 100%;
    top:90%;
    transform: rotate(3600deg);
   }
   100%{
    left: 80%;
    top:1%;
    transform: rotate(360deg);
   }
}
@keyframes loop-html {
    0%{
        left: 90%;
        top:90%;
    }
    
    25%{
        left: 1%;
        top:90%;
    }
    50%{
        left: 100%;
        top: 90%;
    }
   75%{
    left: 1%;
    top:1%;
   }
   100%{
    left: 90%;
    top:1%;
   }
}
@keyframes loop-php{
    0%{
        left: 50%;
        top:1%;
        transform: rotate(360deg);
    }    
    25%{
        left: 50%;
        top:90%;
        transform: rotate(1600deg);
    }
    50%{
        left: 1%;
        top: 50%;
        transform: rotate(2600deg);
    }
   75%{
    left: 90%;
    top:90%;
    transform: rotate(3600deg);
   }
   100%{
    left: 50%;
    top:1%;
    transform: rotate(360deg);
   }
}
@keyframes spin-icon {
    0%{
        transform: rotate(360deg);
        left: 1%;
        top: 50%;
    }
    25%{
        transform: rotate(1600deg);
        left: 90%;
        top: 90%;
    }
    50%{
        transform: rotate(2600deg);
        left: 90%;
        top: 1%;
    }
    75%{
        transform: rotate(3600deg);
        left: 1%;
        top: 90%;
    }
    100%{
        transform: rotate(360deg);
        left: 1%;
        top: 50%;
    }
}

/********* end Animation of skills icons ****/

.profile li a{
    font-size: .9rem;
    font-weight: bold;
    color: #fff;
    text-transform: lowercase
}

.portfolio .gate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.gate > div{
    width: 50%;
    height: 15px;
    background-color: #337ab7;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 9;
}

.g-left{transform-origin: left}

.g-right{transform-origin: right}

.gate span{
    position: absolute;
    font-size: 35px;
    color: aliceblue;
    transition: all .5s ease-in-out;
    z-index: 10;
}

.gate span:first-of-type{
    top: -10px;
    left: -15px;
}

.gate span:last-of-type{
    top: -10px;
    right: -15px;
}

.portfolio h2{
    text-transform: uppercase;
    margin:40px auto;
    text-align: center;
    width: 150px;
    border-bottom: 1px solid steelblue
}

.portfolio .gallery{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.portfolio .gallery > div{
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10% 10% 40% 40% / 20% 20% 40% 40%;
    overflow: hidden;
}

@media(min-width: 768px){
    .portfolio .gallery > div{
        width: 30%
    }
}

.front{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: aliceblue;
    color:rgba(0,0,0,0.7);
    font-weight: bold;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    z-index: 2;
    user-select: none;
    transform-origin: top left;
    border-radius: 10% 10% 40% 40% / 20% 20% 40% 40%;
    overflow: hidden;
}

.show-back{
    transform: translateZ(-50px) rotateZ(90deg);
    opacity: 0;
}

.project1 .front{background-color: #1abc9c}

.project3 .front{background-color: rgb(253, 202, 50);}

.front > span:first-of-type{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px
}

.project2 .front span{
    color: #337ab7;
    letter-spacing: normal;
}

.project3 .front > span{color: #000}

.project4 .front > span:first-of-type{font-size: 12px;color: #aaa}

.project4 .front > span:not(:first-of-type){
    font-size: 14px;
    color:rgba(0,0,0,.9);
}

.project4 .front > span > span{
    font-size: 50px;
    color: #c90000;
    border-top: 1px solid #c90000;
    border-bottom: 1px solid #c90000;
    border-left: 8px solid #c90000;
}

.back{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
}

.back img{
    object-fit: cover;
    object-position: -50px -150px;
    transition: all 3s ease-in-out;
}

.scale-img{
    transform: translateY(-250px)
}

.project1 .back img{
    object-position: center -70px; 
}

.project3 .back img{
    object-position: center -1800px;
}

.overlay-details{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgba(44, 63, 87, 0.5);
    border-radius: 10% 10% 40% 40% / 20% 20% 40% 40%;
}

.overlay-details > span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: steelblue;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out
}

.overlay-details > span:hover{
    background-color: steelblue
}

.overlay-details > span:hover a{color: aliceblue}

.overlay-details > span a{color: steelblue;transition: all .3s ease-in-out}


.portfolio .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(134, 156, 177, .2);
    display: none
}







.resume .wraper{
    background-color: aliceblue;
    padding: 20px;
    overflow-y: auto;
    color: steelblue;
    position: relative;
}

.resume .wraper > h2{
    text-transform: uppercase;
    margin: 40px auto;
    text-align: center;
    width: 105px;
    border-bottom: 1px solid steelblue
}

.skills{
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
}

.skills > h2{
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid steelblue
}

.skills .skills-logo{
    position: absolute;
    right: 10%;
    top: 40%;
    font-size: 40px;
    opacity: .2;
}

.skills > div:not(.skills-logo){
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: steelblue;
    padding-left: 20px;
    border-left: 1px solid steelblue;
}

.skills-group:nth-of-type(2) .skill:last-of-type{text-transform: capitalize}

.skills .skills-group p{text-transform: none}

.education{margin-bottom: 40px}

.education h2{
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid steelblue
}

.education .edu-item{
    border-left: 1px solid steelblue;
    padding-left: 20px
}

.edu-details .edu-item > h3{margin-bottom: 0}

.edu-details .edu-item > span{
    display: block;
}

.experience h2{
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid steelblue;
}

.exp-details{margin-bottom: 50px}

.experience .exp-item{
    border-left: 1px solid steelblue;
    padding-left: 20px;
}

.exp-details > div > h3{margin-bottom: 0}

.exp-details > div >span{
    display: block;
}

.resume .wraper .my-cv{
    position: absolute;
    left: 0;
    max-width: 80%;
}

.resume .wraper .my-cv a{
    display: block;
    background-color: #2c3e50;
    color: aliceblue;
    padding: 8px 10px;
    margin-bottom: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: .9rem;
    font-weight: bold;
    box-shadow: 5px 10px 15px rgba(27, 40, 56, .2);
    transition: all .5s ease-in-out
}

.resume .wraper .my-cv a:hover{
    background-color: steelblue;
}

.contact h2{
    text-transform: uppercase;
    margin: 40px auto;
    text-align: center;
    width: 170px;
    border-bottom: 1px solid steelblue
}

.contact .contact-links{
    display: flex;
    flex-flow: column;
    margin-bottom: 40px
}

@media(min-width: 768px){
    .contact .contact-links{
        flex-flow: row;
    }
    .contact .contact-links > div{width: 50%}
}

.contact .contact-links > div{
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 1.5rem;
    transition: all .5s ease-in-out;
    padding: 10px 5px
}
@media(max-width: 420px){
     .contact .contact-links > div{
       font-size:1rem !important;
   }
  
}
.contact .contact-links > div:hover{background-color: steelblue;}



.map{
    margin: 0 -15px -25px
}

#scrolltop{
    position: fixed;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    left: 50px;
    bottom: 15px;
    color: white;
    display: none;
}

#profile .title h2{
   box-shadow: 5px 9px 7px 10px #071927;
   padding: 20px;
   margin: 50px 25px;
}
#profile .personal-info ul , 
#profile .paragraph {
    background-color: #0000007a;
    padding: 20px;
}